.main
{
    text-align: justify;
    font-style: italic;
}
body
{
    font-style: italic;
 
}


#title
{
    font-size: 95px;
    color: rgb(17, 11, 71);
}
#text
{
    font-size: 80px;
    color: rgb(151, 25, 31);
}


#Subtititle
{
    font-size: 32px;
    text-align: left;
    
}
.fondo
{
    background-color: whitesmoke;
}

